<section class="page-hero">
    <div class="page-container">
        <div class="hero-content">
            <h1>Welcome Back</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="page-section">
                    <section class="form-section">
                        <h2>Login to your account</h2>
                        
                        <div class="input-group">
                            <input
                              type="text"
                              formControlName="username"
                              placeholder="Username"
                              class="input-standard"
                              [class.invalid-input]="username?.invalid && username?.touched"
                            />
                            <div class="field-error" *ngIf="username?.touched && username?.invalid">
                                <span *ngIf="username?.errors?.['required']">Username is required.</span>
                            </div>
                        </div>

                        <div class="input-group">
                            <input 
                              type="password" 
                              formControlName="password" 
                              placeholder="Password" 
                              class="input-standard"
                              [class.invalid-input]="password?.invalid && password?.touched"
                            >
                            <div class="field-error" *ngIf="password?.touched && password?.invalid">
                                <span *ngIf="password?.errors?.['required']">Password is required.</span>
                            </div>
                        </div>

                        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
                    </section>
                </div>

                <div class="button-group">
                    <button type="submit" class="btn-pill btn-highlight">Log In</button>
                    <button type="button" class="btn-signup" routerLink="/signup">Don't have an account? Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</section>