<div class="routerLinkContainer">
    <div class="logo-header-container">
        <a routerLink="/"><img src="/media/image1.png" alt=""></a>
    </div>
    <nav class="nav-links-left">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a routerLink="/subsides" routerLinkActive="active-link">Subsidios</a>
        <a routerLink="/centers" routerLinkActive="active-link">Centros</a>
        <a *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active-link">Mi perfil</a>
        <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active-link" style="color: var(--primary-color); font-weight: bold;">Admin</a>
        <!--
        <a routerLink="/family" routerLinkActive="active-link">Mi familia</a>
        <a routerLink="/unemployment" routerLinkActive="active-link">Desempleo</a>
        -->
    </nav>
    <nav class="login-signup-right-nav">
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" routerLinkActive="active-link">Log In</a>
            <a routerLink="/signup" routerLinkActive="active-link">Sign Up</a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <button (click)="logout()">Log Out</button>
        </ng-container>
    </nav>
</div>