:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--primary-color);
    box-shadow: 0 4px 6px -1px #0001;
    width: 100%;
}

.routerLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--windows-max-width);
    margin: 0 auto;
    width: 100%;
}

nav { 
    display: flex; 
    flex-shrink: 1;
    overflow-x: auto;
    scrollbar-width: none;
}

nav::-webkit-scrollbar { display: none; }

nav a, nav button {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 1.2rem;
    height: 4rem;
    align-content: center;
    color: var(--surface-color);
    font-weight: 600;
    transition: color .2s ease;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

nav a:hover, nav button:hover { color: var(--highlight-color); }

img {
    filter: drop-shadow(0 1px 1px var(--highlight-color));
    width: 6em;
    margin: 0 1rem;
    flex-shrink: 0;
}

nav a.active-link {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

@media (max-width: 1024px) {
    .routerLinkContainer {
        justify-content: flex-start;
    }

    .login-signup-right-nav {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    nav a, nav button {
        padding: 0 0.8rem;
        font-size: var(--font-size-sm);
    }
}