nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold
}

a:hover {
    color: #007BFF
}

p {
    font-size: 2rem;
    color: #666
}